ETH_CHAIN=devnet
SAVE_PROOF=true/false # also false if other than "true" or variable were to be not defined
MINA_RPC_URL=https://api.minascan.io/node/devnet/v1/graphql
#MINA_RPC_URL=http://localhost:3085/graphql
# TODO: Replace with actual deployed contract address on Devnet
STATE_SETTLEMENT_ETH_ADDR=0xE8ecF644D9a3432Dab3A0725308f265990eEDca9
# TODO: Replace with actual deployed contract address on Devnet
ACCOUNT_VALIDATION_ETH_ADDR=0xb1527802E7800034D6887b0a99a5Ad2683184b95
# TODO: Replace with actual deployed contract address on Devnet
NORI_TOKEN_BRIDGE_ETH_ADDRESS=0x4C073a92B1C8Fb55313102Ab412fb7F1704bcBdD

## TODO: These can be skipped if using devnet with Anvil.
# BATCHER_ADDR=ws://localhost:8080
# BATCHER_ETH_ADDR=0x7bc06c482DEAd17c0e297aFbC32f6e63d3846650
# ETH_RPC_URL=http://localhost:8545
# PROOF_GENERATOR_ADDR=0x66f9664f97F2b50F62D13eA064982f936dE76657
# BRIDGE_HOLESKY_ETH_ADDR=<optional>
# BRIDGE_ACCOUNT_HOLESKY_ETH_ADDR=<optional>
# ALIGNED_SERVICE_MANAGER_ADDR=<optional>

## You can choose to use a keystore or private key for your signing wallet.
#KEYSTORE_PATH=<optional>
# TODO: Replace with actual value
PRIVATE_KEY=0x