ETH_CHAIN=devnet
SAVE_PROOF=true/false # also false if other than "true" or variable were to be not defined
MINA_RPC_URL=https://api.minascan.io/node/devnet/v1/graphql
#MINA_RPC_URL=http://localhost:3085/graphql
# TODO: Replace with actual deployed contract address on Devnet
STATE_SETTLEMENT_ETH_ADDR=0xE8ecF644D9a3432Dab3A0725308f265990eEDca9
# TODO: Replace with actual deployed contract address on Devnet
ACCOUNT_VALIDATION_ETH_ADDR=0xb1527802E7800034D6887b0a99a5Ad2683184b95
# TODO: Replace with actual deployed contract address on Devnet
NORI_TOKEN_BRIDGE_DEVNET_ADDRESS=0x4C073a92B1C8Fb55313102Ab412fb7F1704bcBdD

SUDOKU_VALIDITY_HOLESKY_ADDRESS=0x6379ebD504941f50D5BfDE9348B37593bd29C835

## Nori Token Bridge Variables
# TODO: Replace with actual deployed zkApp address
NORI_TOKEN_STORAGE_ZKAPP_ADDRESS=B62qqj6zf4j2wjz5Vuxztud4XnAFnHZat2JeKf1FwybkrkH491tR7ZR
# TODO: Replace with actual token ID
NORI_TOKEN_CONTROLLER_TOKEN_ID=xKHyyiq2ddBz8dSQZV64WUPyLCgENXgeUAFop5whyGVCDMVNdp


# Replace with actual private key if you deploy sudoku zkapp
FEEPAYER_KEY=EK**
## Sudoku Example Variables
SUDOKU_ZKAPP_ADDRESS=B62qmKCv2HaPwVRHBKrDFGUpjSh3PPY9VqSa6ZweGAmj9hBQL4pfewn
SUDOKU_TOKEN_ID=xFGpiVZhxrVsiuse2vxQKL7J3y1aqPcnVqm4kBTYNmzLR1XL5P
SUDOKU_VALIDITY_DEVNET_ADDRESS=0x8ce361602B935680E8DeC218b820ff5056BeB7af



## These can be skipped if using devnet with Anvil.
# BATCHER_ADDR=<optional>
# BATCHER_ETH_ADDR=<optional>
# ETH_RPC_URL=<optional>
# PROOF_GENERATOR_ADDR=<optional>
# BRIDGE_HOLESKY_ETH_ADDR=<optional>
# BRIDGE_ACCOUNT_HOLESKY_ETH_ADDR=<optional>
# ALIGNED_SERVICE_MANAGER_ADDR=<optional>

## You can choose to use a keystore or private key for your signing wallet.
## Leave empty if choosing Anvil Devnet.
#KEYSTORE_PATH=<optional>
#PRIVATE_KEY=<optional>
~